In [2]:
from pydataxm import *                           #Se realiza la importación de las librerias necesarias para ejecutar
import datetime as dt                            
from pydataxm.pydataxm import ReadDB as apiXM    #Se importa la clase que invoca el servicio

In [ ]:
objetoAPI = pydataxm.ReadDB()                    #Se almacena el servicio en el nombre objetoAPI

In [ ]:
df = apiXM.request_data(pydataxm.ReadDB(),       #Se indica el objeto que contiene el serivicio
                        "ListadoMetricas",       #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                       #Campo númerico indicando el nivel de desagregación, 0 para valores del Sistema
                        dt.date(2021, 1, 1),     #Corresponde a la fecha inicial de la consulta
                        dt.date(2021, 1, 10))    #Corresponde a la fecha final de la consulta

AttributeError: type object 'ReadDB' has no attribute 'inventario_metricas'

In [4]:
df.to_csv('Metricas.csv')

In [19]:
df_Gene = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "Gene",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_Gene.head(5)                                    #Observar el encabezado del DataFrame extraido

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,4542167.31,4206137.43,3769316.05,3478765.23,3274013.26,3177865.62,2946502.46,2965149.79,...,3036194.22,3057215.40,3415523.50,4928364.25,5294480.17,4974821.80,4418701.49,3780597.40,3286679.08,2000-01-01
1,Sistema,Sistema,3007943.72,2868528.51,2787270.67,2772969.33,2814018.85,2917304.70,2974935.60,3237040.55,...,3359276.54,3365406.85,3655770.61,5296711.85,5666926.30,5386962.95,4892313.33,4121223.24,3505301.21,2000-01-02
2,Sistema,Sistema,3167619.62,2994048.87,2935335.86,2943552.92,3115385.66,3460569.22,3778164.66,4161076.44,...,4469788.80,4527703.73,4841184.68,6308041.57,6555715.82,6055805.80,5345116.80,4372258.28,3656280.74,2000-01-03
3,Sistema,Sistema,3326612.90,3214936.20,3130548.89,3161511.99,3362202.71,3749827.50,4107529.52,4425911.92,...,4545799.49,4612521.01,4919846.02,6331274.07,6627046.12,6157289.96,5432814.94,4414909.58,3659009.26,2000-01-04
4,Sistema,Sistema,3330224.74,3215004.71,3158247.98,3184982.30,3366903.52,3761281.61,4117019.23,4474801.89,...,4542032.80,4620231.79,4876840.36,6311785.28,6541986.21,6077357.65,5402744.89,4416758.23,3676699.53,2000-01-05

In [20]:
df_DemaCome = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "DemaCome",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_DemaCome.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,4542104.00,4208661.02,3780141.42,3483958.33,3287444.68,3191454.76,2946464.08,2966159.29,...,3059313.40,3079557.89,3432328.34,4939689.61,5301972.79,4978061.85,4422709.45,3791454.64,3303440.91,2000-01-01
1,Sistema,Sistema,3011571.36,2872045.26,2802900.96,2774203.70,2815272.28,2936321.90,2979737.12,3249131.09,...,3359999.46,3370201.83,3689027.92,5341850.33,5710854.51,5430887.78,4893050.37,4122025.04,3515238.58,2000-01-02
2,Sistema,Sistema,3167668.47,2995827.02,2936227.86,2947514.82,3124894.97,3473061.83,3778597.03,4172131.90,...,4475000.54,4532383.70,4851616.20,6330804.59,6571559.29,6091120.91,5366388.94,4388459.39,3677391.28,2000-01-03
3,Sistema,Sistema,3340812.54,3222176.72,3138645.91,3162477.79,3369291.02,3758011.03,4109014.04,4443065.20,...,4568243.77,4622537.89,4934233.87,6350722.39,6634249.26,6172214.32,5434680.26,4418458.95,3678221.01,2000-01-04
4,Sistema,Sistema,3352214.89,3225611.96,3163864.35,3185514.73,3376500.97,3783713.33,4125920.25,4478344.65,...,4557104.80,4621007.42,4905312.12,6346512.15,6548174.72,6095948.33,5404170.47,4421090.43,3678167.73,2000-01-05

In [21]:
df_PrecBolsNaci = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecBolsNaci",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_PrecBolsNaci.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,46.28,32.28,32.28,32.28,32.28,32.28,32.28,32.28,...,32.28,32.28,32.28,32.28,32.28,32.28,32.28,32.28,32.28,2000-01-01
1,Sistema,Sistema,32.28,32.28,32.28,32.28,32.28,32.28,32.28,32.28,...,32.28,32.28,32.28,32.28,32.28,50.28,32.28,32.28,32.28,2000-01-02
2,Sistema,Sistema,32.28,32.28,32.28,32.28,32.28,32.28,32.28,32.28,...,32.28,32.28,32.28,50.28,50.28,39.28,50.28,32.28,32.28,2000-01-03
3,Sistema,Sistema,32.28,32.28,32.28,32.28,32.28,46.28,32.28,32.28,...,41.28,47.98,32.28,50.28,50.28,50.28,50.28,39.28,32.28,2000-01-04
4,Sistema,Sistema,32.28,32.28,32.28,32.28,32.28,46.28,41.28,39.28,...,41.28,47.98,32.28,48.48,50.28,32.28,49.28,51.28,46.28,2000-01-05

In [22]:
df_DispoReal = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "DispoReal",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_DispoReal.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,BJAG,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,...,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,2000-01-01
1,Recurso,BRN1,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,2000-01-01
2,Recurso,BRN2,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,...,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,2000-01-01
3,Recurso,BRN3,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,...,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,2000-01-01
4,Recurso,BRN4,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,28000.0,28000.0,...,28000.0,28000.0,28000.0,28000.0,30000.0,30000.0,30000.0,30000.0,30000.0,2000-01-01

In [23]:
df_DispoCome = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "DispoCome",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_DispoCome.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,2QFU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000-01-01
1,Recurso,ALAG,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,...,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,365000.0,2000-01-01
2,Recurso,BIOE,610.0,1540.0,2060.0,2060.0,2070.0,1780.0,1910.0,1610.0,...,810.0,1200.0,800.0,240.0,200.0,270.0,320.0,190.0,230.0,2000-01-01
3,Recurso,BJAG,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,...,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,73000.0,2000-01-01
4,Recurso,BRN1,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,2000-01-01

In [24]:
df_DispoDeclarada = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "DispoDeclarada",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_DispoDeclarada.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,BJAG,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,...,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,13000.0,2000-01-01
1,Recurso,BRN1,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,...,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,10000.0,2000-01-01
2,Recurso,BRN2,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,...,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,12000.0,2000-01-01
3,Recurso,BRN3,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,...,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,55000.0,2000-01-01
4,Recurso,BRN4,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,28000.0,28000.0,...,28000.0,28000.0,28000.0,28000.0,30000.0,30000.0,30000.0,30000.0,30000.0,2000-01-01

In [25]:
df_PrecEscaAct = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecEscaAct",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

NameError: name 'df_PrecEscaActa' is not defined

In [26]:
df_PrecEscaAct.head(5)

        Id     Value       Date
0  Sistema  563.3426 2017-12-01
1  Sistema  563.3426 2017-12-02
2  Sistema  563.3426 2017-12-03
3  Sistema  563.3426 2017-12-04
4  Sistema  563.3426 2017-12-05

In [29]:
df_PrecEsca = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecEsca",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2006, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_PrecEsca.head(5)

No existe la colección PrecEsca

Empty DataFrame
Columns: []
Index: []

In [30]:
df_PrecEscaMarg = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecEscaMarg",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_PrecEscaMarg.head(5)

No existe la colección PrecEscaMarg

Empty DataFrame
Columns: []
Index: []

In [31]:
df_CapEfecNeta = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "CapEfecNeta",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_CapEfecNeta.head(5)

        Id  Code     Value       Date
0  Recurso  2QFU    4000.0 2000-01-01
1  Recurso  2QRL     600.0 2000-01-01
2  Recurso  ALAG  355000.0 2000-01-01
3  Recurso  AMR1     410.0 2000-01-01
4  Recurso  ASN1     450.0 2000-01-01

In [32]:
df_FAZNI = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "FAZNI",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_FAZNI.head(5)

        Id         Value       Date
0  Sistema  1.121451e+08 2001-02-10
1  Sistema  9.925468e+07 2001-02-11
2  Sistema  1.172288e+08 2001-02-12
3  Sistema  1.205147e+08 2001-02-13
4  Sistema  1.206166e+08 2001-02-14

In [34]:
df_CERE = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "CERE",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_CERE.head(5)

        Id      Value       Date
0  Sistema  22.834788 2000-01-01
1  Sistema  23.060882 2000-02-01
2  Sistema  21.531167 2000-03-01
3  Sistema  23.578413 2000-04-01
4  Sistema  23.104099 2000-05-01

In [35]:
df_CEE = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "CEE",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_CEE.head(5)

        Id   Value       Date
0  Sistema  21.550 2000-01-01
1  Sistema  23.261 2000-02-01
2  Sistema  21.387 2000-03-01
3  Sistema  22.244 2000-04-01
4  Sistema  21.783 2000-05-01

In [36]:
df_VoluUtilDiarMasa = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "VoluUtilDiarMasa",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_VoluUtilDiarMasa.head(5)

        Id             Name        Value       Date
0  Embalse  AGREGADO BOGOTA  299277000.0 2000-01-01
1  Embalse    ALTOANCHICAYA   26180000.0 2000-01-01
2  Embalse          BETANIA  930820000.0 2000-01-01
3  Embalse          CALIMA1  422970000.0 2000-01-01
4  Embalse            CHUZA  177970000.0 2000-01-01

In [5]:
df_AporteEnergia = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "AporEner",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta
df_AporteEnergia.to_csv('df_AporteEnergia.csv')
df_AporteEnergia.head(5)

        Id     Value       Date
0  Sistema  56677300 2000-01-01
1  Sistema  54645200 2000-01-02
2  Sistema  57488300 2000-01-03
3  Sistema  58418200 2000-01-04
4  Sistema  63039500 2000-01-05

In [37]:
df_Gene.to_csv('df_Gene.csv') 
df_DemaCome.to_csv('df_DemaCome.csv')  
df_PrecBolsNaci.to_csv('df_PrecBolsNaci.csv')  
df_DispoReal.to_csv('df_DispoReal.csv')  
df_DispoCome.to_csv('df_DispoCome.csv') 
df_DispoDeclarada.to_csv('df_DispoDeclarada.csv')

NameError: name 'df_PrecEscaActa' is not defined

In [38]:
df_PrecEscaAct.to_csv('df_PrecEscaActa.csv')  
#df_PrecEsca.to_csv('df_PrecEsca.csv') 
#df_PrecEscaMarg.to_csv('df_PrecEscaMarg.csv')
df_CapEfecNeta.to_csv('df_CapEfecNeta.csv')
df_FAZNI.to_csv('df_FAZNI.csv')
df_CERE.to_csv('df_CERE.csv')
df_CEE.to_csv('df_CEE.csv')
df_VoluUtilDiarMasa.to_csv('df_VoluUtilDiarMasa.csv')

In [6]:
df_POfe = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecOferDesp",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_POfe.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,BRN1,170.0,170.0,170.0,170.0,170.0,170.0,170.0,170.0,...,170.0,170.0,170.0,192.0,192.0,192.0,170.0,170.0,170.0,2000-01-01
1,Recurso,BRN2,172.0,172.0,172.0,172.0,172.0,172.0,172.0,172.0,...,172.0,172.0,172.0,192.0,192.0,192.0,172.0,172.0,172.0,2000-01-01
2,Recurso,BRN3,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0,...,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0,148.0,2000-01-01
3,Recurso,BRN4,130.0,130.0,130.0,130.0,130.0,130.0,130.0,130.0,...,130.0,130.0,130.0,165.0,165.0,165.0,130.0,130.0,130.0,2000-01-01
4,Recurso,BRN5,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,...,115.0,115.0,115.0,155.0,155.0,155.0,115.0,115.0,115.0,2000-01-01

In [4]:
df_OEF = apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "ObligEnerFirme",           #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        0,                    #Campo númerico indicando el nivel de desagregación, 1 para valores por Recurso
                        dt.date(2000, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 1, 31)) #Corresponde a la fecha final de la consulta

df_OEF.head(5)

        Id  Code  Value       Date
0  Recurso     0    0.0 2016-02-06
1  Recurso     1    0.0 2016-02-06
2  Recurso  2QBW    0.0 2016-02-06
3  Recurso  2QEK    0.0 2016-02-06
4  Recurso  2QFU    0.0 2016-02-06

In [5]:
df_OEF.to_csv('df_OEF.csv')

In [6]:
df_PrecioPCMNR= apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "PrecPromContNoRegu",                #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        "Sistema",                 #Campo que indica si es Sistema, Agente, Recurso, Comercializador
                        dt.date(2023, 1,1),       #Corresponde a la fecha inicial de la consulta
                        dt.date(2024, 6,21))      #Corresponde a la fecha final de la consulta

In [7]:
df_PrecioPCMNR.to_csv('PrecioPCMNR.csv')

In [8]:
df_CompraConMNRSis= apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "CompContEnerNoReg",                #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        "Sistema",                 #Campo que indica si es Sistema, Agente, Recurso, Comercializador
                        dt.date(2023, 1,1),       #Corresponde a la fecha inicial de la consulta
                        dt.date(2024, 6,21))      #Corresponde a la fecha final de la consulta   
df_CompraConMNRSis.to_csv('CompraConMNRSis.csv')

In [9]:
df_CompraConMNRAg= apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "CompContEnerNoReg",                #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        "Agente",                 #Campo que indica si es Sistema, Agente, Recurso, Comercializador
                        dt.date(2023, 1,1),       #Corresponde a la fecha inicial de la consulta
                        dt.date(2024, 6,21))      #Corresponde a la fecha final de la consulta   
df_CompraConMNRAg.to_csv('CompraConMNRAg.csv')

In [10]:
df_Agente= apiXM.request_data(pydataxm.ReadDB(),    #Se indica el objeto que contiene el serivicio
                        "ListadoAgentes",                #Se indica el nombre de la métrica tal como se llama en el campo metricID
                        "Sistema",                 #Campo que indica si es Sistema, Agente, Recurso, Comercializador
                        dt.date(2023, 1,1),       #Corresponde a la fecha inicial de la consulta
                        dt.date(2024, 6,21))      #Corresponde a la fecha final de la consulta   
df_Agente.to_csv('Agente.csv')